<div>
  <% @students.each do |student| %>
    <div><%= student.first_name + " " + student.last_name %></div>
  <% end %>
</div>

<div>
<H1>
  <%= @student.first_name + " " + s@tudent.last_name %></div>
</h1>
